.frontend-body {
    background: url(/images/frontend.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}

.frontend-layout {
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    padding-top: 0px;
    top: 5vh;
    position: relative;
    background: rgba(255, 255, 255, 0.90);
    -webkit-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    box-shadow: 7px 7px 4px -2px rgba(0,0,0,0.50);
    border-radius: 5px;
}

.hide-element-on-keyboard {
    z-index: 1;
}

@media screen and (max-height: 500px) {
    .frontend-body {
        height: 150vh;
    }
    .frontend-layout {
        height: 140vh;
    }
}
